div{
    border:none;
    font-size: 12pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    columns: 2;
    label{
        color:firebrick;
        font-weight: 900;
        font-family: cursive;
    }
    input{
        color:purple;
        font-weight: 400;
    }
}