<form (submit)="aceptar()">
    <app-campo-edicion [rotulo]="rotuloUsuario" [(valor)]="nombreActual"></app-campo-edicion>
    <app-campo-edicion [rotulo]="rotuloEmail" [(valor)]="emailActual"></app-campo-edicion>
    <app-campo-edicion [rotulo]="rotuloEstatura" [(valor)]="estaturaActual"></app-campo-edicion>
    <app-campo-edicion [rotulo]="rotuloPeso" [(valor)]="pesoActual"></app-campo-edicion>
    <input type="submit" value="Ingresar">
</form>